* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1.2fr 1fr;
    grid-template-rows: 50px 2fr 0.2fr;
    grid-template-areas:
    "header header header"
    "left left right"
    "footer footer footer";
}

main, section {
    display: contents;
}

header {
    background-color: #D9D9D9;
    display: grid;
    grid-area: header;
}

.left {
    grid-area: left;
    display: grid;
    grid-template-columns: 0.75fr 0.75fr;
}

.right {
    grid-area: right;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

footer {
    grid-area: footer;
}

header {
    background-color: #D9D9D9;
}

.left article:first-of-type{
    background-color: #A4A4A4;
}

.left article:last-of-type{
    background: #C1C1C1;
}

.right article:first-of-type{
    background-color: #7F7A7A;
}

.right article:last-of-type{
    background-color: #615050;
}

footer {
    background-color: #D9D9D9;
}

