*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader {
    width: 300px;
    height: 300px;
    background-color: #9F3919;
    border-radius: 10%;
    animation: pulse 3s ease-in infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
        border-radius: 25%;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
        border-radius: 75%;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        border-radius: 100%;
    }
}

