* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
    "header header header"
    "left mid right"
    "footer footer footer";
}

main, section {
    display: contents;
}

header {
    grid-area: header;
}

.left {
    grid-area: left;
}

.mid {
    grid-area: mid;
}

.right {
    grid-area: right;
}

footer {
    grid-area: footer;
}

header, footer {
    background-color: #D9D9D9;
}

.left, .right {
    background-color: #C0BDBD;
}

.mid {
    background-color: #A4A4A4;
}


