* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
}

form, .registration {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    width: min(350px, 100%);
}

form img {
    margin: 0 0 15px;
}

form {
    text-align: center;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

input[type=password], input[type=email] {
    text-overflow: ellipsis;
    padding: 0 12px;
    height: 40px;
    border: 1px lightgray solid;
    background-color: whitesmoke;
}

input[type=password],
input[type=email],
button {
    width: min(350px, 90%);
    margin-bottom: 10px;
    border-radius: 3px;
}


input[type=email] {
    margin-bottom: 10px;
}

input[type=password], button {
    margin-bottom: 15px;
}

form p, form a:not(:last-of-type) {
    margin-bottom: 20px;
}

form p {
    color: #7F7A7A;
    text-transform: uppercase;
    font-weight: 500;
}

form a {
    color: darkblue;
}

form a:first-of-type {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
}

form a:first-of-type::before {
    background-image: url("./img/facebook.svg");
    background-size: cover;
    display: inline-flex;
    content: "";
    height: 30px;
    width: 40px;
}


form a:last-of-type {
    font-size: 14px;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    background-color: lightskyblue;
}

.registration {
    padding: 25px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 14px;
}

.registration a {
    color: lightskyblue;
}
