body {
    font-family: Inter, sans-serif;
    font-style: normal;

}

.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px 32px;
    padding: 64px 0;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 32px 16px;
        row-gap: 40px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        padding: 32px 24px;
    }
    article {
        max-width: 218px;
    }
}

article {
    text-align: center;
}

article img {
    margin-bottom: 20px;
}

article h3 {
    margin-bottom: 15px;
    color: #000;
    font-size: clamp(14px, 1vw, 20px);
    font-weight: 700;
    line-height: 120%;
}

article p {
    color: #3C3C43;
    font-size: 13px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}