* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
}

.mulish {
    font-family: "Mulish", sans-serif;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

img, svg use {
    max-width: 100%;
    height: auto;
}

header {
    padding: 30px 0 0;
    margin-bottom: clamp(10px, 10vw, 68px);
}

header nav ul {
    display: flex;
    gap: 50px;
}

header nav {
    padding: 0 0 12px;
}

header nav ul a {
    color: #696871;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.469px;
    position: relative;
    border-bottom: 2px solid transparent;
}

header nav ul a::after {
    content: "";
    display: block;
    background-color: #5454D4;
    height: 2px;
    position: absolute;
    bottom: -2px;
    width: 0;
    transition: 0.4s;
}

header nav ul a:focus::after {
    width: 100%;
}

header nav ul a:focus {
    color: #19191B;
}

.get-started-link {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
    border-radius: 10px;
    background: #FF7143;
    padding: 19px 60px;
}

.get-started-link:hover, .hero .get-started-link:hover {
    background-color: #19191B;
    transition: 0.4s;
}

.hero {
    margin-bottom: clamp(10px, 10vw, 130px);
}


.hero h1 {
    color: #19191B;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: -2.501px;
    max-width: 440px;
    margin-bottom: clamp(10px, 5vw, 30px);
}

.hero p {
    color: #696871;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.625px;
    margin-bottom: clamp(10px, 10vw, 80px);
    max-width: 410px;
}

.hero .get-started-link {
    background-color: #5454D4;
    padding: 19px 47px;
}

.logos {
    margin-bottom: clamp(10px, 10vw, 160px);
}

.logos ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.index, .plan {
    margin-bottom: clamp(10px, 10vw, 83px);
}

.index article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.h3-styles {
    color: #19191B;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -1.563px;
}

.p-styles {
    color: #696871;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.625px;
    max-width: 460px;
}

.link-styles {
    color: #5454D4;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
}

.metrics article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.metrics img {
    order: 1;
}

.metrics, .features {
    margin-bottom: clamp(10px, 15vw, 150px);
}

.features article {
    display: flex;
    flex: 0 1 15%;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.features article h4::before {
    content: "";
    display: block;
    background-size: cover;
    margin-bottom: 20px;
    height: 72px;
}


.features article:first-of-type h4::before {
    background-image: url("./img/card.png");
    width: 100px;
}

.features article:nth-of-type(2) h4::before {
    background-image: url("./img/calc.png");
    width: 91px;
}

.features article:last-of-type h4::before {
    background-image: url("./img/camera.png");
    width: 118px;
}

.features h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #19191B;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.75px;
}

.features p {
    color: #696871;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
    min-width: 307px;
}

.plan-pricing h2 {
    color: #19191B;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.876px;
    max-width: 500px;
}

.plan-pricing .plan-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 344px;
    height: 65px;
    border-radius: 10px;
    background-color: #F7F7FB;
    padding: 5px 6px;
}

.plan-pricing a {
    color: #19191B;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
    display: inline-block;
    padding: 20px 55px;
}

.plan-selector a:hover {
    background-color: #5454D4;
    color: #FFF;
}

.plan-selector a:first-of-type:hover {
    border-radius: 10px 0 0 10px;
}

.plan-selector a:last-of-type:hover {
    border-radius: 0 10px 10px 0;
}

.pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px 10px 10px;
    padding-top: clamp(10px, 10vw, 80px);
    margin-bottom: clamp(10px, 15vw, 160px);
}

.pricing article {
    flex: 0 1 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: #F8F8F8;
}

.pricing h5 {
    padding: 35px 0 35px;
    color: #696871;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.563px;
}

.pricing p {
    padding: 0 0 28px;
    color: #1D293F;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034px;
}

.pricing ul {
    margin-bottom: clamp(10px, 5vw, 36px);
}

.pricing li {
    color: #696871;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.531px;
}

.pricing a {
    margin-bottom: clamp(10px, 5vw, 27px);
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    background-color: #FFF;
    color: #5454D4;
    padding: 20px 80px;
}

.pricing article:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: #FF7143;
    box-shadow: 0 32px 34px 0 rgba(255, 112, 59, 0.32);
    transform: scale(1.1);
}

.pricing article:hover :is(p, h5, a, li) {
    color: #FFF;
}

.pricing article:hover a {
   background-color: #9F3919;
}




